#logo-container {
    display: flex;
    justify-content: left;
}

#logo {
    max-width: 18%; /* Ensure the image doesn't exceed the container width */
    max-height: 20%; /* Ensure image doesn't exceed container height */
    height: auto;
   
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    background-color: #f6e7e7; /* Pastel pink */
    margin: 0;
    padding: 0;
}

header {
    background-color: #dd90fb; /* Pastel purple */
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 2rem;
}

main {
    padding: 20px;
}

.product img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 100%; /* Ensure image doesn't exceed container height */
    border-radius: 8px; /* Optional: Add rounded corners */
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    flex-basis: calc(33.33% - 20px); /* Adjust the width of each product as needed */
    background-color: #ffc6e6; /* Light pastel pink */
    border: 1px solid #f6e7e7; /* Match the body background */
    padding: 10px;
    margin: 10px;
    text-align: center;
}

footer {
    background-color: #dd90fb; /* Pastel purple */
    color: #fff;
    text-align: center;
    padding: 10px;
}
